input{
    margin:10px;

}
#sort_button{
    display: none ;
  margin-top: 20px;
 margin-bottom: 20px;
 background-color: rgb(0, 255, 38);
 color:white  ;
}

#submit_button{
  margin-top: 20px;
 margin-bottom: 20px;
 background-color: rgb(0, 255, 38);
  color:white  ;
}
body{
    background-color: rgb(2, 7, 98);
    color:white  ;
}
 
